{% extends 'base-useradmin.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if all_dialogs %}

        <div class="container">

            <div class="left-container">

                <!-- Содержимое левой части экрана -->
                <h3>Диалоги</h3>

                    {% for dialog in all_dialogs %}

                <div class="all-dialog-list">

                    {% if dialog.last_message.read %}
                    <a href="/messages/dialog-{{ dialog.id }}"><img src="{{ dialog.another_user.avatar.url }}"></a>
                    {% else %}
                    <a href="/messages/dialog-{{ dialog.id }}"><img id="not-read-message" src="{{ dialog.another_user.avatar.url }}"></a>
                    {% endif %}


                        <div class="photo-comment-user-date">
                            <a href="/messages/dialog-{{ dialog.id }}">
                                {{ dialog.another_user.first_name }} {{ dialog.another_user.last_name }}</a>
                                <span class="photo-comment-date">{{ dialog.last_message_time }}</span>
                        </div>
                </div>

            {% endfor %}

            </div>

            <div class="right-container">

            <!-- Содержимое правой части экрана -->

                <h3>Сообщения</h3>
                {% if not messages %}
                    <!-- <h3>Выберите диалог</h3> -->
                {% endif %}

                <img id="message_bg" src="/media/message_bg.png">

            </div>

        </div>

    {% else %}

        <div class="standard">
            <h3>Вы еще никому ничего не писали!</h3>
            <p>Напишите друзьям, начните общение первым)</p>
            <br>
            <h3>Или ждите...</h3>
            <p>Тебе все ровно никто не напишет)</p>
        </div>

    {% endif %}



{% endblock %}