{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <button id="submitBtn" name="submit_button" value="add_message_list" style="display:none;"></button>
        <input type="hidden" name="slice" value="{{ start_slice }}">

</form>

<script src="media/static/account/js/account.js"></script>

    <div class="container">

        <div class="left-container">

            <!-- Содержимое левой части экрана -->
            <h3>Диалоги</h3>

                {% for dialog in all_dialogs %}

            <div class="all-dialog-list">

                {% if dialog.last_message.read %}
                <a href="/messages/dialog-{{ dialog.id }}"><img src="{{ dialog.another_user.avatar.url }}"></a>
                {% else %}
                <a href="/messages/dialog-{{ dialog.id }}"><img id="not-read-message" src="{{ dialog.another_user.avatar.url }}"></a>
                {% endif %}

                    <div class="photo-comment-user-date">
                        <a href="/messages/dialog-{{ dialog.id }}">
                            {{ dialog.another_user.first_name }} {{ dialog.another_user.last_name }}</a>
                            <span class="photo-comment-date">{{ dialog.last_message_time }}</span>
                    </div>
            </div>

        {% endfor %}

        </div>

        <div class="right-container">

        <!-- Содержимое правой части экрана -->

            <!-- <h3>Сообщения от пользователя  <a id="name_link" href="/messages/dialog-{{ dialog.id }}">{{ another_user.first_name }} {{ another_user.last_name }}</a></h3>
-->
        <div class="message-dialog-user">
            <a href="/user-{{ another_user.profile_id }}">
                <img src="{{ another_user.avatar.url }}"></a>
            <div class="message-comment-user-date">
                <a href="/user-{{ another_user.profile_id }}">{{ another_user.first_name }} {{ another_user.last_name }}</a>
            </div>
        </div>

            <form id="delete-dialog-form" method="post">
                {% csrf_token %}
                <button class="delete-dialog" type="submit" name="submit_button" value="dialog-delete">✕</button>
                <input type="hidden" name="message_id" value="{{ message.id }}">
            </form>

            {% if not messages %}
                <!-- <h3>Выберите диалог</h3> -->

            {% else %}


    {% for message in messages %}

            {% if forloop.counter0 != 0 %}

            {% if message.send_post or message.send_group_post or message.send_repost or message.send_group_repost %}
                <br>
            {% endif %}

            {% endif %}


    <div class="message-all-comment">
        <a href="/user-{{ message.author.profile_id }}">
                <img src="{{ message.author.avatar.url }}"></a>
            <div class="message-comment-user-date">
                <a href="/user-{{ message.author.profile_id }}">{{ message.author.first_name }}</a>
                <span class="message-comment-date">{{ message.date }}</span>
            </div>

            {% if message.read %}
                <p>{{ message.content }}</p>
            {% else %}
                <p id="message-not-read">{{ message.content }}</p>
            {% endif %}

        {% if message.author.user == request.user %}

            <form method="post">
                {% csrf_token %}
                <button class="message-delete-comment" type="submit" name="submit_button" value="message-delete">✕</button>
                <input type="hidden" name="message_id" value="{{ message.id }}">
            </form>

        {% endif %}

    </div>

            {% for photo in message.photo_post.all %}
            <div class="message-photo">
                <div class="message-photo-1">
                    <img src="{{ photo.photo.url }}">
                </div>
            </div>
            {% endfor %}



            {% if message.send_group_post %}

            <div class="posts-all-message">

                <div class="posts-all-container">
                        <a href="/groups/group-{{ message.send_group_post.author.profile_id }}"><img src="{{ message.send_group_post.author.avatar.url }}"></a>
                    <div class="posts-comment-user-date">
                        <a href="/groups/group-{{ message.send_group_post.author.profile_id }}">{{ message.send_group_post.author }}</a>
                        <span class="posts-comment-date">{{ message.send_group_post.date }}</span>
                    </div>
                </div>

                {% if message.send_group_post.photo_post.all|length == 1 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_post.author.profile_id }}/photo/show-{{ message.send_group_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_group_post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 3 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_post.author.profile_id }}/photo/show-{{ message.send_group_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-2">
                        {% for photo in message.send_group_post.photo_post.all|slice:"1:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 4 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_post.author.profile_id }}/photo/show-{{ message.send_group_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-3">
                        {% for photo in message.send_group_post.photo_post.all|slice:"1:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 5 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_post.author.profile_id }}/photo/show-{{ message.send_group_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:"1:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 6 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_group_post.photo_post.all|slice:":2" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:"2:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 7 %}
                    <div class="posts-all-3">
                        {% for photo in message.send_group_post.photo_post.all|slice:":3" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:"3:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length == 8 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:":4" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:"4:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_post.photo_post.all|length > 8 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:":4" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_post.photo_post.all|slice:"4:8" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                        <span class="posts-comment-date">+ еще {{ message.send_group_post.photo_post.all|slice:"8:"|length }} фото в посте</span>
                {% endif %}

                    <div class="posts-text">
                        <p>{{ message.send_group_post.content }}</p>
                    </div>

                     {% if request.user in message.send_group_post.like_post.all %}

                        <div class="unlike-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_unlike_group_post">❤&nbsp;&nbsp;{{ message.send_group_post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_group_post.id }}">
                            </form>
                            <p>&nbsp;</p>
                        </div>

                    {% else %}

                        <div class="like-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_like_group_post">❤&nbsp;&nbsp;{{ message.send_group_post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_group_post.id }}">
                            </form>
                            <p>&nbsp;</p>

                        </div>

                    {% endif %}

                    <div class="view-post-b">
                        <form action="/groups/group-{{ message.send_group_post.author.profile_id }}/post-{{ message.send_group_post.id }}">
                            <button class="view-post"><p>➤</p></button>
                        </form>
                    </div>
            </div>

            <br>

            {% endif %}







            {% if message.send_group_repost %}

                <div class="message-all-comment">
                <a href="/user-{{ message.send_group_repost.author.profile_id }}"><img src="{{ message.send_group_repost.author.avatar.url }}"></a>
                    <div class="message-comment-user-date">
                        <a href="/user-{{ message.send_group_repost.author.profile_id }}">{{ message.send_group_repost.author }}</a>
                        <span class="photo-comment-date">{{ message.send_group_repost.date }}</span>
                    </div>
                <p>{{ message.send_group_repost.content }}</p>

            </div>

            <div class="posts-all-message">

                <div class="posts-all-container">
                        <a href="/groups/group-{{ message.send_group_repost.post.author.profile_id }}">
                            <img src="{{ message.send_group_repost.post.author.avatar.url }}"></a>
                    <div class="posts-comment-user-date">
                        <a href="/groups/group-{{ message.send_group_repost.post.author.profile_id }}">{{ message.send_group_repost.post.author }}</a>
                        <span class="posts-comment-date">{{ message.send_group_repost.post.date }}</span>
                    </div>
                </div>

                {% if message.send_group_repost.post.photo_post.all|length == 1 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_repost.post.author.profile_id }}/photo/show-{{ message.send_group_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_repost.post.author.profile_id }}/photo/show-{{ message.send_group_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-2">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                         <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_repost.post.author.profile_id }}/photo/show-{{ message.send_group_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-3">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ message.send_group_repost.post.author.profile_id }}/photo/show-{{ message.send_group_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_group_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-3">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_group_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_group_repost.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                        <span class="posts-comment-date">+ еще {{ message.send_group_repost.post.photo_post.all|slice:"8:"|length }} фото в посте</span>
                {% endif %}

                    <div class="posts-text">
                        <p>{{ message.send_group_repost.post.content }}</p>
                    </div>

                     {% if request.user in message.send_group_repost.post.like_post.all %}

                        <div class="unlike-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_unlike_group_repost">❤&nbsp;&nbsp;{{ message.send_group_repost.post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_group_repost.post.id }}">
                            </form>
                            <p>&nbsp;</p>
                        </div>

                    {% else %}

                        <div class="like-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_like_group_repost">❤&nbsp;&nbsp;{{ message.send_group_repost.post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_group_repost.post.id }}">
                            </form>
                            <p>&nbsp;</p>

                        </div>

                    {% endif %}

                    <div class="view-post-b">
                        <form action="/groups/group-{{ message.send_group_repost.post.author.profile_id }}/post-{{ message.send_group_repost.post.id }}">
                            <button class="view-post"><p>➤</p></button>
                        </form>
                    </div>
            </div>

            <br>

            {% endif %}

            {% if message.send_post %}

               <div class="posts-all-message">

                <div class="posts-all-container">
                        <a href="/user-{{ post.author.profile_id }}{{ message.send_post.author.profile_id }}"><img src="{{ message.send_post.author.avatar.url }}"></a>
                    <div class="posts-comment-user-date">
                        <a href="/user-{{ post.author.profile_id }}{{ message.send_post.author.profile_id }}">

                                {% if message.send_post.author.profile_id != 1 %}
                                    {{ message.send_post.author }}
                                {% else %}
                                    Системное сообщение
                                {% endif %}

                        </a>
                        <span class="posts-comment-date">{{ message.send_post.date }}</span>
                    </div>
                </div>

                {% if message.send_post.photo_post.all|length == 1 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ message.send_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                {% elif message.send_post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_post.photo_post.all %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_post.photo_post.all|length == 3 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ message.send_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-2">
                        {% for photo in message.send_post.photo_post.all|slice:"1:" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_post.photo_post.all|length == 4 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ message.send_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-3">
                        {% for photo in message.send_post.photo_post.all|slice:"1:" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_post.photo_post.all|length == 5 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ message.send_post.photo_post.all.first.id }}">
                            <img src="{{ message.send_post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:"1:" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send__post.photo_post.all|length == 6 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_post.photo_post.all|slice:":2" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:"2:" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_post.photo_post.all|length == 7 %}
                    <div class="posts-all-3">
                        {% for photo in message.send_post.photo_post.all|slice:":3" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:"3:" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_post.photo_post.all|length == 8 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:":4" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:"4:" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_post.photo_post.all|length > 8 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:":4" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_post.photo_post.all|slice:"4:8" %}
                        <a href="/user-{{ message.send_post.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                        <span class="posts-comment-date">+ еще {{ message.send_post.photo_post.all|slice:"8:"|length }} фото в посте</span>
                {% endif %}

                    <div class="posts-text">
                        <p>{{ message.send_post.content }}</p>
                    </div>

                     {% if request.user in message.send_post.like_post.all %}

                        <div class="unlike-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_unlike_post">❤&nbsp;&nbsp;{{ message.send_post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_post.id }}">
                            </form>
                            <p>&nbsp;</p>
                        </div>

                    {% else %}

                        <div class="like-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_like_post">❤&nbsp;&nbsp;{{ message.send_post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_post.id }}">
                            </form>
                            <p>&nbsp;</p>

                        </div>

                    {% endif %}

                    <div class="view-post-b">
                        <form action="/user-{{ message.send_post.author.profile_id }}/post-{{ message.send_post.id }}">
                            <button class="view-post"><p>➤</p></button>
                        </form>
                    </div>
            </div>

            <br>


            {% endif %}



            {% if message.send_repost %}


                <div class="message-all-comment">
                <a href="/user-{{ message.send_repost.author.profile_id }}"><img src="{{ message.send_repost.author.avatar.url }}"></a>
                    <div class="message-comment-user-date">
                        <a href="/user-{{ message.send_repost.author.profile_id }}">{{ message.send_repost.author }}</a>
                        <span class="photo-comment-date">{{ message.send_repost.date }}</span>
                    </div>
                <p>{{ message.send_repost.content }}</p>

            </div>

            <div class="posts-all-message">

                <div class="posts-all-container">
                        <a href="/user-{{ message.send_repost.post.author.profile_id }}">
                            <img src="{{ message.send_repost.post.author.avatar.url }}"></a>
                    <div class="posts-comment-user-date">
                        <a href="/user-{{ message.send_repost.post.author.profile_id }}">

                            {% if message.send_repost.post.author.profile_id != 1 %}
                                {{ message.send_repost.post.author }}
                            {% else %}
                                Системное сообщение
                            {% endif %}

                        </a>
                        <span class="posts-comment-date">{{ message.send_repost.post.date }}</span>
                    </div>
                </div>
                {% if message.send_repost.post.photo_post.all|length == 1 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_repost.post.author.profile_id }}/photo/show-{{ message.send_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_repost.post.author.profile_id }}/photo/show-{{ message.send_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-2">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_repost.post.author.profile_id }}/photo/show-{{ message.send_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-3">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ message.send_repost.post.author.profile_id }}/photo/show-{{ message.send_repost.post.photo_post.all.first.id }}">
                            <img src="{{ message.send_repost.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-3">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif message.send_repost.post.photo_post.all|length == 2 %}
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in message.send_repost.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                        <span class="posts-comment-date">+ еще {{ message.send_repost.post.photo_post.all|slice:"8:"|length }} фото в посте</span>
                {% endif %}

                    <div class="posts-text">
                        <p>{{ message.send_repost.post.content }}</p>
                    </div>

                     {% if request.user in message.send_repost.post.like_post.all %}

                        <div class="unlike-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_unlike_repost">❤&nbsp;&nbsp;{{ message.send_repost.post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_repost.post.id }}">
                            </form>
                            <p>&nbsp;</p>
                        </div>

                    {% else %}

                        <div class="like-button">
                            <form method="post">
                                {% csrf_token %}
                            <button type="submit" name="submit_button" value="set_like_repost">❤&nbsp;&nbsp;{{ message.send_repost.post.like_post.all|length }}</button>
                                <input type="hidden" name="post_id" value="{{ message.send_repost.post.id }}">
                            </form>
                            <p>&nbsp;</p>

                        </div>

                    {% endif %}

                    <div class="view-post-b">
                        <form action="/user-{{ message.send_repost.post.author.profile_id }}/post-{{ message.send_repost.post.id }}">
                            <button class="view-post"><p>➤</p></button>
                        </form>
                    </div>
            </div>

            <br>

            {% endif %}

            {% if message.send_photo %}

            <div class="message-all-comment">
            <a href="/user-{{ message.send_photo.author.profile_id }}"><img src="{{ message.send_photo.author.avatar.url }}"></a>
                <div class="message-comment-user-date">
                    <a href="/user-{{ message.send_photo.author.profile_id }}">{{ message.send_photo.author }}</a>
                    <span class="photo-comment-date">{{ message.send_photo.date }}</span>
                </div>
            </div>

            <div class="message-photo">
                <div class="message-photo-1">
                    <a href="/user-{{ message.send_photo.author.profile_id }}/photo/show-{{ message.send_photo.id }}">
                        <img src="{{ message.send_photo.photo.url }}"></a>
                </div>
            </div>

            <br>

            {% endif %}

    {% endfor %}



            {% endif %}

        </div>

    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="posts-create-message">

        <div class="post-button">

        <form id="message-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ posts_form.content }}
            <button id="summbit-button" type="submit" name="submit_button" value="create_message">Отправить</button>
            <input id="photo-input" type="file" name="photo_post" multiple onchange="changeColor(this)">
        </form>

        </div>

    </div>

        <script>

        function changeColor(input) {
            var fileInput = input.files[0]; // Получаем выбранный файл
            var photoContainer = document.querySelector('.posts-create-message');

            if (fileInput) {
                photoContainer.classList.add('file-selected'); // Добавляем класс, если выбран файл
            } else {
                photoContainer.classList.remove('file-selected'); // Удаляем класс, если файл не выбран
            }
        }

        </script>

<script>

</script>


<script>

    document.getElementById('message-form').addEventListener('submit', function(event) {
      var content = document.getElementById('id_content').value;
      var file = document.getElementById('photo-input').files[0];

      if (content.trim() === '' && file === undefined) {
        event.preventDefault();
      }
    });

</script>


<script>

    // Получаем форму и поле ввода
    var form = document.querySelector('.posts-create-message form');
    var input = form.querySelector('textarea');

    // Проверяем, есть ли сохраненные данные в localStorage
    if (localStorage.getItem('savedContent')) {
      // Восстанавливаем сохраненные данные в поле ввода
      input.value = localStorage.getItem('savedContent');
    }

    // Слушаем событие ввода текста
    input.addEventListener('input', function() {
      // Сохраняем данные в localStorage при вводе текста
      localStorage.setItem('savedContent', input.value);
    });

    // Слушаем событие отправки формы
    form.addEventListener('submit', function() {
      // Очищаем сохраненные данные при отправке формы
      localStorage.removeItem('savedContent');
    });

</script>

<script>

    setInterval(function() {
      var menuMessage = document.getElementById("menu-message").innerHTML;
      var previousMessage = localStorage.getItem("previousMessage");

      if (menuMessage !== previousMessage) {
        localStorage.setItem("previousMessage", menuMessage);
        location.reload();
      }
    }, 1000);

</script>

    <textarea id="chat-log" cols="100" rows="20" style="display:none;"></textarea><br>
    <input id="chat-message-input" type="text" size="100" style="display:none;"><br>
    <input id="chat-message-submit" type="button" value="Send" style="display:none;">

<script>

    const dialogId = "{{ dialog.id }}";

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/messages/dialog-'
        + dialogId
        + '/'
    );

    // Обработчик события открытия соединения
    chatSocket.onopen = () => {
       console.log('WebSocket connection opened');
    };

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');

        setTimeout(() => {
            location.reload();
        }, 1000);

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#summbit-button').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';

    };

</script>





{% endblock %}

