{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if status %}

    <div class="status">

        <div class="status-block">
        <p>{{ status }}</p>

        <form method="post">
            {% csrf_token %}
            <button class="set-status" type="submit" name="submit_button" value="delete_status">✕</button>
        </form>
        </div>

    </div>

    <div class="triangle"></div>


    {% else %}

    <div class="status">

        <form method="post">
            {% csrf_token %}
            {{ status_form.status }}
            <button class="set-status" type="submit" name="submit_button" value="create_status">+</button>
        </form>
    </div>

    <div class="triangle"></div>

    {% endif %}









    <div class="avatar">
        <form method="post" enctype="multipart/form-data" id="myForm">
            {% csrf_token %}
            <input type="file" name="nev_avatar" onchange="document.getElementById('myForm').submit();">
        </form>
        <img src="{{ person.avatar.url }}">
    </div>

    <div class="name-admin">
        <h3>{{ person.first_name }} {{ person.last_name }}</h3>
        {% if person.user_admin %}
            <span>&nbsp;Admin&nbsp;</span>
        {% endif %}
    </div>



    <div class="followers-following-container">

        <div class="followers">

            <div class="followers-container">
                {% for follower in followers %}
                    <div class="follower">
                        <a href="/user-{{ follower.profile_id }}" class="follower-link">
                        <img src="{{ follower.avatar.url }}" class="follower-avatar">

                    {% if follower.first_name|length < 12 %}
                        <span class="follower-name">{{ follower.first_name }}</span></a>
                    {% else %}
                        <span class="follower-name">{{ follower.first_name|slice:":8" }}..</span></a>
                    {% endif %}

                    </div>
                {% endfor %}

                <div class="follower-avatar-b">

                    <form action="profile_page/followers">
                        <button>Follower<h1>{{ followers_count }}</h1></button><br>
                    </form>

                </div>

            </div>

        </div>

        <div class="following">

            <div class="followers-container">

                <div class="follower-avatar-b">

                    <form action="profile_page/following">
                        <button>Follow<h1>{{ following_count }}</h1></button><br>
                    </form>
                </div>

                {% for follow in following %}
                    <div class="follower">
                        <a href="/user-{{ follow.profile_id }}" class="follower-link">
                        <img src="{{ follow.avatar.url }}" class="follower-avatar">

                    {% if follow.first_name|length < 12 %}
                        <span class="follower-name">{{ follow.first_name }}</span></a>
                    {% else %}
                        <span class="follower-name">{{ follow.first_name|slice:":8" }}..</span></a>
                    {% endif %}

                    </div>
                {% endfor %}
            </div>

        </div>

    </div>

    <div class="photo">
        <div class="photo1">

            {% for photo in temp_left %}
                <img src="/media/photo/temp-photo.jpg">
            {% endfor %}

            {% for photo in all_photo_left %}
                <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}" ></a>
            {% endfor %}

        </div>

        <div class="photo-button">

            <form action="profile_page/photo">
                <button>All media: {{ photo_count }}</button>
            </form>

        <form method="post" enctype="multipart/form-data" id="nev_photo-myForm">
            {% csrf_token %}
            <input type="file" name="nev_photo" onchange="document.getElementById('nev_photo-myForm').submit();" multiple>
        </form>

        </div>

        <div class="photo2">

            {% for photo in all_photo_right %}
                <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}" ></a>
            {% endfor %}

            {% for photo in temp_right %}
                <img src="/media/photo/temp-photo.jpg">
            {% endfor %}

        </div>

    </div>

    {% if profile_info %}

    <div class="profile-info">
        <h3>Описание вашего профиля:</h3>
            {{ profile_info }}
        <br>
        <br>
        <a href="{% url 'settings_page_edit_profile' %}">редактировать</a>
    </div>

    <div class="add_message_info">

            <div class="message-btn-close">
                <form method="post">
                    {% csrf_token %}
                <button type="submit" name="submit_button" value="close_info">О себе</button>
                </form>
            </div>
    </div>

    {% else %}

    <div class="add_message_info">

            <div class="message-btn">
                <form method="post">
                    {% csrf_token %}
                <button type="submit" name="submit_button" value="show_info">О себе</button>
                </form>
            </div>
    </div>

    {% endif %}

    <br>

    <div class="standard">
        <h3>Добавить пост в ленту:</h3>
    </div>

    <div class="posts-create">

        <div class="post-button">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ posts_form.content }}
            <button id="summbit-button" type="submit" name="submit_button" value="create_post">Создать запись</button>
            <input id="photo-input" type="file" name="photo_post" multiple onchange="changeColor(this)">
        </form>

        </div>
    </div>

        <script>
        function changeColor(input) {
            var fileInput = input.files[0]; // Получаем выбранный файл
            var photoContainer = document.querySelector('.posts-create');

            if (fileInput) {
                photoContainer.classList.add('file-selected'); // Добавляем класс, если выбран файл
            } else {
                photoContainer.classList.remove('file-selected'); // Удаляем класс, если файл не выбран
            }
        }
        </script>

    <div class="standard">
        <h3>Моя лента</h3>
    </div>


        {% for post in post_and_repost %}

            {% if post.type_object == 'GroupRePosts' %}

            <div class="photo-all-comment">
                <a href="/user-{{ post.author.profile_id }}"><img src="{{ post.author.avatar.url }}"></a>
                    <div class="photo-comment-user-date">
                        <a href="/user-{{ post.author.profile_id }}">{{ post.author }}</a>
                        <span class="photo-comment-date">{{ post.date }}</span>
                    </div>
                <p>{{ post.content }}</p>

                <form method="post">
                    {% csrf_token %}
                    <button class="delete-comment" type="submit" name="submit_button" value="reposts-delete-group">✕</button>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                </form>

            </div>

            <div class="posts-all">

                <div class="posts-all-container">
                        <a href="/groups/group-{{ post.post.author.profile_id }}">
                            <img src="{{ post.post.author.avatar.url }}"></a>
                    <div class="posts-comment-user-date">
                        <a href="/groups/group-{{ post.post.author.profile_id }}">{{ post.post.author }}</a>
                        <span class="posts-comment-date">{{ post.post.date }}</span>
                    </div>
                </div>

                {% if post.post.photo_post.all|length == 1 %}

                    <div class="posts-all-1">
                        <a href="/groups/group-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                {% elif post.post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in post.post.photo_post.all %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 3 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-2">
                        {% for photo in post.post.photo_post.all|slice:"1:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 4 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-3">
                        {% for photo in post.post.photo_post.all|slice:"1:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 5 %}
                    <div class="posts-all-1">
                        <a href="/groups/group-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"1:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 6 %}
                    <div class="posts-all-2">
                        {% for photo in post.post.photo_post.all|slice:":2" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"2:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 7 %}
                    <div class="posts-all-3">
                        {% for photo in post.post.photo_post.all|slice:":3" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"3:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 8 %}
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:":4" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"4:" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length > 8 %}
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:":4" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"4:8" %}
                        <a href="/groups/group-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                        <span class="posts-comment-date">+ еще {{ post.post.photo_post.all|slice:"8:"|length }} фото в посте</span>
                {% endif %}

                    <div class="posts-text">
                        <p>{{ post.post.content }}</p>
                    </div>


                {% if request.user in post.post.like_post.all %}

                    <div class="unlike-button">
                        <form method="post">
                            {% csrf_token %}
                        <button type="submit" name="submit_button" value="set_unlike_group">❤&nbsp;&nbsp;{{ post.post.like_post.all|length }}</button>
                            <input type="hidden" name="post_id" value="{{ post.post.id }}">
                        </form>
                        <p>&nbsp;</p>
                    </div>

                {% else %}

                    <div class="like-button">
                        <form method="post">
                            {% csrf_token %}
                        <button type="submit" name="submit_button" value="set_like_group">❤&nbsp;&nbsp;{{ post.post.like_post.all|length }}</button>
                            <input type="hidden" name="post_id" value="{{ post.post.id }}">
                        </form>
                        <p>&nbsp;</p>

                    </div>

                {% endif %}

                    <div class="view-post-b">
                        <form action="profile_page/grop-repost-{{ post.id }}">
                            <button class="view-post"><p>➤</p></button>
                        </form>
                    </div>

            </div>


                {% for comment in post.comments %}

                <div class="photo-all-comment">
                    <a href="/user-{{ comment.author.profile_id }}"><img src="{{ comment.author.avatar.url }}"></a>
                        <div class="photo-comment-user-date">
                            <a href="/user-{{ comment.author.profile_id }}">{{ comment.author }}</a>
                            <span class="photo-comment-date">{{ comment.date }}</span>
                        </div>
                    <p>{{ comment.comment }}</p>

                    <form method="post">
                        {% csrf_token %}
                        <button class="delete-comment" type="submit" name="submit_button" value="re-comment-delete-group">✕</button>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    </form>

                </div>

                {% endfor %}

                <div class="photo-comment">

                    <form method="post">
                        {% csrf_token %}
                        {{ comment_form.comment }}
                        <button type="submit" name="submit_button" value="create_comment_group_repost">Добавить</button>
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                    </form>

                </div>

            <div class="invisible-rectangle"></div>

            {% elif post.type_object == 'RePosts' %}


            <div class="photo-all-comment">
                <a href="/user-{{ post.author.profile_id }}"><img src="{{ post.author.avatar.url }}"></a>
                    <div class="photo-comment-user-date">
                        <a href="/user-{{ post.author.profile_id }}">{{ post.author }}</a>
                        <span class="photo-comment-date">{{ post.date }}</span>
                    </div>
                <p>{{ post.content }}</p>

                <form method="post">
                    {% csrf_token %}
                    <button class="delete-comment" type="submit" name="submit_button" value="reposts-delete">✕</button>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                </form>

            </div>

            <div class="posts-all">

                <div class="posts-all-container">
                        <a href="/user-{{ post.post.author.profile_id }}"><img src="{{ post.post.author.avatar.url }}"></a>
                    <div class="posts-comment-user-date">
                        <a href="/user-{{ post.post.author.profile_id }}">

                            {% if post.post.author.profile_id != 1 %}
                                {{ post.post.author }}
                            {% else %}
                                Системное сообщение
                            {% endif %}

                        </a>
                        <span class="posts-comment-date">{{ post.post.date }}</span>
                    </div>
                </div>


                {% if post.post.photo_post.all|length == 1 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                {% elif post.post.photo_post.all|length == 2 %}
                    <div class="posts-all-2">
                        {% for photo in post.post.photo_post.all %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 3 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-2">
                        {% for photo in post.post.photo_post.all|slice:"1:" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 4 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-3">
                        {% for photo in post.post.photo_post.all|slice:"1:" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 5 %}
                    <div class="posts-all-1">
                        <a href="/user-{{ post.post.author.profile_id }}/photo/show-{{ post.post.photo_post.all.first.id }}">
                            <img src="{{ post.post.photo_post.all.first.photo.url }}"></a>
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"1:" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 6 %}
                    <div class="posts-all-2">
                        {% for photo in post.post.photo_post.all|slice:":2" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"2:" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 7 %}
                    <div class="posts-all-3">
                        {% for photo in post.post.photo_post.all|slice:":3" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"3:" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length == 8 %}
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:":4" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"4:" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                {% elif post.post.photo_post.all|length > 8 %}
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:":4" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                    <div class="posts-all-4">
                        {% for photo in post.post.photo_post.all|slice:"4:8" %}
                        <a href="/user-{{ photo.author.profile_id }}/photo/show-{{ photo.id }}">
                            <img src="{{ photo.photo.url }}"></a>
                        {% endfor %}
                    </div>
                        <span class="posts-comment-date">+ еще {{ post.post.photo_post.all|slice:"8:"|length }} фото в посте</span>
                {% endif %}

                    <div class="posts-text">
                        <p>{{ post.post.content }}</p>
                    </div>


                {% if request.user in post.post.like_post.all %}

                    <div class="unlike-button">
                        <form method="post">
                            {% csrf_token %}
                        <button type="submit" name="submit_button" value="set_unlike">❤&nbsp;&nbsp;{{ post.post.like_post.all|length }}</button>
                            <input type="hidden" name="post_id" value="{{ post.post.id }}">
                        </form>
                        <p>&nbsp;</p>
                    </div>

                {% else %}

                    <div class="like-button">
                        <form method="post">
                            {% csrf_token %}
                        <button type="submit" name="submit_button" value="set_like">❤&nbsp;&nbsp;{{ post.post.like_post.all|length }}</button>
                            <input type="hidden" name="post_id" value="{{ post.post.id }}">
                        </form>
                        <p>&nbsp;</p>

                    </div>

                {% endif %}

                    <div class="view-post-b">
                        <form action="profile_page/repost-{{ post.id }}">
                            <button class="view-post"><p>➤</p></button>
                        </form>
                    </div>

            </div>


                {% for comment in post.comments %}

                <div class="photo-all-comment">
                    <a href="/user-{{ comment.author.profile_id }}"><img src="{{ comment.author.avatar.url }}"></a>
                        <div class="photo-comment-user-date">
                            <a href="/user-{{ comment.author.profile_id }}">{{ comment.author }}</a>
                            <span class="photo-comment-date">{{ comment.date }}</span>
                        </div>
                    <p>{{ comment.comment }}</p>

                    <form method="post">
                        {% csrf_token %}
                        <button class="delete-comment" type="submit" name="submit_button" value="re-comment-delete">✕</button>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    </form>

                </div>

                {% endfor %}

                <div class="photo-comment">

                    <form method="post">
                        {% csrf_token %}
                        {{ comment_form.comment }}
                        <button type="submit" name="submit_button" value="create_comment_repost">Добавить</button>
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                    </form>

                </div>

            <div class="invisible-rectangle"></div>

            {% elif post.type_object == 'Posts' %}

        <div class="posts-all">

            <div class="delete-post-b">
                <form method="post">
                    {% csrf_token %}
                    <button class="delete-post" type="submit" name="submit_button" value="posts-delete">✕</button>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                </form>
            </div>

            <div class="posts-all-container">
                    <a href="/user-{{ post.author.profile_id }}"><img src="{{ post.author.avatar.url }}"></a>
                <div class="posts-comment-user-date">
                    <a href="/user-{{ post.author.profile_id }}">{{ post.author }}</a>
                    <span class="posts-comment-date">{{ post.date }}</span>
                </div>
            </div>

            {% if post.photo_post.all|length == 1 %}
                <div class="posts-all-1">
                    <a href="/profile_page/photo/show-{{ post.photo_post.all.first.id }}">
                        <img src="{{ post.photo_post.all.first.photo.url }}"></a>
                </div>
            {% elif post.photo_post.all|length == 2 %}
                <div class="posts-all-2">
                    {% for photo in post.photo_post.all %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length == 3 %}
                <div class="posts-all-1">
                    <a href="/profile_page/photo/show-{{ post.photo_post.all.first.id }}">
                        <img src="{{ post.photo_post.all.first.photo.url }}"></a>
                </div>
                <div class="posts-all-2">
                    {% for photo in post.photo_post.all|slice:"1:" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length == 4 %}
                <div class="posts-all-1">
                    <a href="/profile_page/photo/show-{{ post.photo_post.all.first.id }}">
                        <img src="{{ post.photo_post.all.first.photo.url }}"></a>
                </div>
                <div class="posts-all-3">
                    {% for photo in post.photo_post.all|slice:"1:" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length == 5 %}
                <div class="posts-all-1">
                    <a href="/profile_page/photo/show-{{ post.photo_post.all.first.id }}">
                        <img src="{{ post.photo_post.all.first.photo.url }}"></a>
                </div>
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:"1:" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length == 6 %}
                <div class="posts-all-2">
                    {% for photo in post.photo_post.all|slice:":2" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:"2:" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length == 7 %}
                <div class="posts-all-3">
                    {% for photo in post.photo_post.all|slice:":3" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:"3:" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length == 8 %}
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:":4" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:"4:" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
            {% elif post.photo_post.all|length > 8 %}
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:":4" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
                <div class="posts-all-4">
                    {% for photo in post.photo_post.all|slice:"4:8" %}
                    <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
                    {% endfor %}
                </div>
                    <span class="posts-comment-date">+ еще {{ post.photo_post.all|slice:"8:"|length }} фото в посте</span>
            {% endif %}

                <div class="posts-text">
                    <p>{{ post.content }}</p>
                </div>


            {% if request.user in post.like_post.all %}

                <div class="unlike-button">
                    <form method="post">
                        {% csrf_token %}
                    <button type="submit" name="submit_button" value="set_unlike">❤&nbsp;&nbsp;{{ post.like_post.all|length }}</button>
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                    </form>
                    <p>&nbsp;</p>
                </div>

            {% else %}

                <div class="like-button">
                    <form method="post">
                        {% csrf_token %}
                    <button type="submit" name="submit_button" value="set_like">❤&nbsp;&nbsp;{{ post.like_post.all|length }}</button>
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                    </form>
                    <p>&nbsp;</p>

                </div>

            {% endif %}

                <div class="view-post-b">
                    <form action="/profile_page/post-{{ post.id }}">
                        <button class="view-post"><p>➤</p></button>
                    </form>
                </div>

        </div>


            {% for comment in post.comments %}

            <div class="photo-all-comment">
                <a href="/user-{{ comment.author.profile_id }}"><img src="{{ comment.author.avatar.url }}"></a>
                    <div class="photo-comment-user-date">
                        <a href="/user-{{ comment.author.profile_id }}">{{ comment.author }}</a>
                        <span class="photo-comment-date">{{ comment.date }}</span>
                    </div>
                <p>{{ comment.comment }}</p>

                <form method="post">
                    {% csrf_token %}
                    <button class="delete-comment" type="submit" name="submit_button" value="comment-delete">✕</button>
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                </form>

            </div>

            {% endfor %}

            <div class="photo-comment">

                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.comment }}
                    <button type="submit" name="submit_button" value="create_comment">Добавить</button>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                </form>

            </div>

            <div class="invisible-rectangle"></div>

        {% endif %}

        {% endfor %}

{% endblock %}