{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block menu2 %}

    <div class="menu2">
        <a href="{% url 'profile_page_photo' %}">ФОТОГРАФИИ</a>
        <a href="">ВИДЕОЗАПИСИ</a>
    </div>

{% endblock %}

{% block content %}



    <div class="photo-all-comment">
        <a href="/user-{{ person.profile_id }}"><img src="{{ person.avatar.url }}"></a>
            <div class="photo-comment-user-date">
                <a href="/user-{{ person.profile_id }}">{{ person.first_name }} {{ person.last_name }}</a>
            </div>
        <p> </p>
    </div>

    <div class="photo-slider">

        <div class="photo-slider-line">
            {% for photo in photo_line %}
                <a href="/profile_page/photo/show-{{ photo.id }}"><img src="{{ photo.photo.url }}"></a>
            {% endfor %}
        </div>

    </div>

    <div class="photo-show">

        <img  src="{{ photo_single.photo.url }}">

        <form method="post">
            {% csrf_token %}
        <button class="delete-photo" type="submit" name="submit_button" value="delete"><p>✕</p></button>
        </form>

        <form method="post">
            {% csrf_token %}
        <button class="splitter-left" type="submit" name="submit_button" value="back"></button>
        </form>

        <form method="post">
            {% csrf_token %}
        <button class="splitter-right" type="submit" name="submit_button" value="forward"></button>
        </form>

        <form method="post">
            {% csrf_token %}
        <button class="add-description-photo" type="submit" name="submit_button" value="description"><p>+</p></button>
        </form>

    </div>

    {% if photo_single.description %}
        <div class="photo-description-text">
            <p>{{ photo_single.description }}</p>
        </div>
    {% endif %}

    {% if description_form %}
        <div class="photo-description">

            <form method="post">
                {% csrf_token %}
                {{ description_form.description }}
                <button type="submit" name="submit_button" value="create_description">Сохранить</button>
            </form>

        </div>
    {% endif %}

    <div class="photo-like-date">

        {% if check_like %}

            <div class="unlike-button">
                <form method="post">
                    {% csrf_token %}
                <button type="submit" name="submit_button" value="set_unlike">❤&nbsp;&nbsp;{{ count_like }}</button>
                </form>
                <p>{{ photo_single.date }}</p>
            </div>

        {% else %}

            <div class="like-button">
                <form method="post">
                    {% csrf_token %}
                <button type="submit" name="submit_button" value="set_like">❤&nbsp;&nbsp;{{ count_like }}</button>
                </form>
                <p>{{ photo_single.date }}</p>
            </div>

        {% endif %}

    </div>

    {% for comment in all_comment %}

    <div class="photo-all-comment">
        <a href="/user-{{ comment.author.profile_id }}"><img src="{{ comment.author.avatar.url }}"></a>
            <div class="photo-comment-user-date">
                <a href="/user-{{ comment.author.profile_id }}">{{ comment.author }}</a>
                <span class="photo-comment-date">{{ comment.date }}</span>
            </div>
        <p>{{ comment.comment }}</p>

        <form method="post">
            {% csrf_token %}
            <button class="delete-comment" type="submit" name="submit_button" value="comment-delete">✕</button>
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
        </form>

    </div>

    {% endfor %}

    <div class="photo-comment">

        <form method="post">
            {% csrf_token %}
            {{ comment_form.comment }}
            <button type="submit" name="submit_button" value="create_comment">Добавить</button>
        </form>

    </div>

{% endblock %}